body {
  background: #454545;
}

form {
  margin: 0 auto;
  width: 300px;
}

/* input {
  width: 269px;
  margin-left: 11px;
  padding: 0;
  margin-bottom: 46px;
  padding: 0;
  border: none;
  border-bottom: 1px solid grey;
}
*/
[type="text"]
{
  width: 269px;
  margin-left: 11px;
  padding: 0;
  margin-bottom: 46px;
  padding: 0;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
